<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>BB&todolist</title>
  <link rel="Shortcut Icon" href="./img/favicon.ico" type="image/x-icon" />
  <link rel="stylesheet" href="./css/index.css">
  <script src="./js/vue.js"></script>
</head>

<body>
  <div id="root">
    <app></app>
  </div>


  <script>
    let todoHeader = {
      data() {
        return {
          title: '',
        }
      },
      props: ['addTodo'],
      methods: {

        add() {
          if (!this.title.trim()) return alert('请输入内容')
          const todoObj = { id: new Date().getTime(), title: this.title, done: false }
          this.addTodo(todoObj)
          this.title = ''
        }
      },
      template: `
      <div class="todo-header">
          <input type="text" 
          v-model.trim="title"
          @keydown.enter="add" 
          placeholder="请输入你的任务名称，按回车键或点击添加按钮" />
          <button class="btn btn-info" @click="add">添加</button>
      </div>`
    }


    let todoList = {
      props: ['todos', 'checkTodo', 'deleteTodo'],

      methods: {

        check(id) {
          this.checkTodo(id)
        },

        deletes(id) {
          this.deleteTodo(id)
        },
      },

      template: ` 
      <ul class="todo-main">
        <li v-for="item in todos" :key="item.id">
          <label class="li-label">
            
            <div class="checkbox-wrapper-15">
              <input class="inp-cbx" :id="item.id" type="checkbox" @change="check(item.id)" :checked="item.done" style="display: none;"/>
              <label class="cbx" :for="item.id">
                <span>
                  <svg width="12px" height="9px" viewbox="0 0 12 9">
                    <polyline points="1 5 4 8 11 1"></polyline>
                  </svg>
                </span>
                <span>{{item.title}}</span>
              </label>
            </div>


          </label>
        <button class="btn btn-danger" @click="deletes(item.id)">删除</button>
        </li>             
      </ul>
               `
    }


    let todoFooter = {
      props: ['todos', 'deleteAll', 'checkAllTodo'],
      computed: {
        finishNum() {
          return this.todos.reduce((num, item) => {
            // if (item.done === true) {
            //   num = num + 1;
            // }
            return num + (item.done ? 1 : 0)
          }, 0)
        },
        Allnum() {
          return this.todos.length
        },
        isAll: {
          get() {
            return this.finishNum === this.Allnum && this.Allnum > 0
          },
          set(value) {
            this.checkAllTodo(value)
          }
        },

      },
      methods: {
        clear() {
          this.deleteAll()
        }
      },
      template: `
      <div class="todo-footer">
        <div class="footer-left">

          <div class="checkbox-wrapper-15">
              <input class="inp-cbx" id="all" type="checkbox" v-model="isAll" style="display: none;"/>
              <label class="cbx" for="all">
                <span>
                  <svg width="12px" height="9px" viewbox="0 0 12 9">
                    <polyline points="1 5 4 8 11 1"></polyline>
                  </svg>
                </span>
                
                <span>已完成{{finishNum}}</span>
              </label>
            </div>
            <span>/全部{{Allnum}}</span>

            
        </div>




       

          <button class="btn btn-danger" @click="clear">清除已完成任务</button>
      </div>`
    }


    let App = {
      data() {
        return {
          todos: [
            { id: 1, title: "Hello", done: true },
            { id: 2, title: "Hello", done: false },
            { id: 3, title: "Hello", done: true },
          ]
        }
      },
      methods: {
        addTodo(todoObj) {
          this.todos.unshift(todoObj)
        },
        checkTodo(id) {
          this.todos.forEach((item) => {
            if (item.id === id) {
              item.done = !item.done
            }
          })
        },
        deleteTodo(id) {
          this.todos = this.todos.filter((item) => {
            return item.id !== id
          })
        },
        deleteAll() {
          this.todos = this.todos.filter((todo) => {
            return !todo.done
          })
        },
        checkAllTodo(done) {
          this.todos.forEach((todo) => {
            todo.done = done
          })
        },
      },
      components: { todoHeader, todoList, todoFooter },
      template: `
      <div class="todo-container">
        <div class="todo-wrap">

          <todo-header :addTodo="addTodo"></todo-header>

          <todo-list 
            :todos="todos" 
            :checkTodo="checkTodo"
            :deleteTodo="deleteTodo"
          >
          </todo-list>

          <todo-footer 
            :todos="todos"
            :deleteAll="deleteAll"
            :checkAllTodo="checkAllTodo"
          >
          </todo-footer>

        </div>
      </div>
     `,
    }
    new Vue({
      el: "#root",
      components: { App }
    })
  </script>
</body>

</html>